@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap");

// @import "~slick-carousel/slick/slick.css";
// @import "~slick-carousel/slick/slick-theme.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  /* font-size: ; */
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-size: 1.6rem;

  background-color: #ffffff;
}

// for active nav item styling
.active-nav-element {
  color: #fd405e !important;
  position: relative;

  &::after {
    content: "";
    display: block;
    margin-top: 0.5rem;
    width: 12px;
    height: 3px;
    background-color: #fd405e;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// for replacing default react slick slider button with custom button
.slick-prev:before,
.slick-next:before {
  display: none;
}

// for disabling the react slick slider buttons for first and last elements
.slick-disabled {
  display: none !important;
}

.btn {
  &__primary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.6rem 4.8rem;
    min-width: 21.7rem;
    height: 6rem;

    background: linear-gradient(90deg, #fd405e 0%, #fe6433 105%);
    border-radius: 10rem;
    border: none;

    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.8rem;
    color: #ffffff;

    cursor: pointer;
    transition: all 0.5s ease-out;

    &:hover {
      background: linear-gradient(90deg, #fe6433 0%, #fd405e 105%);
    }
  }

  &__inverted {
    border: 1px solid #fd405e;
    border-radius: 10rem;
    // border-image-source: linear-gradient(90deg, #fd405e 0%, #fe6433 105%);

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.6rem 4.8rem;

    min-width: 20.6rem;
    height: 6rem;

    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.8rem;

    background: linear-gradient(90deg, #fd405e 0%, #fe6433 105%);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    cursor: pointer;
    transition: all 0.5s ease-out;

    &:hover {
      background: linear-gradient(90deg, #fe6433 0%, #fd405e 105%);
      color: #ffffff;
      -webkit-text-fill-color: #ffffff;
    }
  }

  &__secondary {
    border: 1px solid #ffffff;
    border-radius: 2px;

    font-family: "Quicksand";
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2rem;
    color: #ffffff;
    background: transparent;

    min-width: 11.6rem;
    height: 3.6rem;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: all 0.2s ease-out;

    &:hover {
      color: #fd405e;
      background: linear-gradient(269.36deg, #cecdcd 0.43%, #fafafa 95.61%);
      font-weight: 700;
    }
  }

  &__tertiary {
    padding: 1.6rem 4.8rem;
    min-width: 21.3rem;
    height: 60px;
    background: linear-gradient(90deg, #ffffff 0%, #cac9c9 105%);
    border-radius: 10rem;
    border: none;

    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.8rem;
    color: #fd405e;

    display: flex;
    align-items: center;
    text-align: center;

    cursor: pointer;
    transition: all 0.5s ease-out;

    &:hover {
      background: linear-gradient(90deg, #fe6433 0%, #fd405e 105%);
      color: #ffffff;
    }
  }
}
