.item {
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;

  //   background: #ffffff;
  //   box-shadow: 0px 0px 24px 3px rgba(106, 106, 106, 0.1);

  &__img-container {
    width: 31.5rem;
    height: 31.5rem;
    position: relative;
  }
  &__img {
    width: 100%;
    object-fit: contain;
  }
  &__texts {
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
    // padding-bottom: 2.1rem;
    padding-bottom: 0;
  }

  &__title {
    font-weight: 700;
    font-size: 2.1rem;
    line-height: 2.8rem;
    color: #2c2724;
  }

  &__prices {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2rem;
    color: rgba(44, 39, 36, 0.75);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  &__price {
  }
  &__cut-price {
  }
}
