.card {
  flex: 1;

  display: flex;
  flex-direction: column;
  // gap: 1.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;

  background: #ffffff;
  box-shadow: 0px 0px 24px 3px rgba(106, 106, 106, 0.1);
  // margin-right: 0 1.5rem;

  // border: 1px solid red;
  width: max-content;

  transition: all 0.5s ease-out;

  &:hover .card__img-container {
    position: relative;

    .card__img {
      filter: brightness(0.4);
    }

    .card__icons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
    }
  }

  .card__icons {
    position: absolute;
    left: 1.5rem;
    bottom: 1.5rem;
    display: none;
  }

  .card__icon-container {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: all 0.2s ease-out;
  }

  .card__icon {
    font-size: 2.5rem;
    color: #ffffff;
    cursor: pointer;
  }

  &__img-container {
    // border: 1px solid red;

    position: relative;
    width: 33rem;
    height: 35rem;
  }
  &__icon-container:hover {
    background-color: #ffffff;

    .card__icon {
      color: #fd405e;
    }
  }
  &__img {
    width: 100%;
    // height: 100%;
    object-fit: cover;
    // object-fit: contain;
  }
  &__icons {
    display: none;
  }
  &__texts {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding-bottom: 2.1rem;
  }

  &__title {
    font-weight: 700;
    font-size: 2.1rem;
    line-height: 2.8rem;
    color: #2c2724;
  }

  &__prices {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2rem;
    color: rgba(44, 39, 36, 0.75);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  &__price {
  }
  &__cut-price {
  }

  &_stars {
  }
  &__star {
  }
  &__star-empty {
  }
}

// to align cards at center
.card:first-of-type {
  margin-left: 4rem;
}
